---
layout: project
---

{% set projectList = collections.project %}

{% for project in projectList | reverse %}

  <div id="project-gallery" class="splide box-shadow-m rounded m-bot-xl" role="group" aria-label="Project Gallery">
    <div class="splide__track">
      <ul class="splide__list">
        {{ project.data.gallery }}
      </ul>
    </div>
  </div>

  <h1 class="m-bot-m">{{ project.data.title }}</h1>

  <h2 class="m-bot-xs">Description</h2>
  <p class="m-bot-m">{{ project.data.longDesc }}</p>

  <h2 class="m-bot-s">Technologies used</h2>
  <ul class="portfolio__categories m-bot-xl">
    {{ project.data.technology }}
  </ul>

  <ul class="portfolio__links m-bot-xl">
    {% if project.data.live %}
      <li aria-label="Go to live URL" data-cooltipz-dir="bottom-right">
        <a href="{{ project.data.live | url }}" target="_blank" class="btn btn-sec portfolio-btn">
          <img src="/static/img/icons/link.svg" alt="Web link">
        </a>
      </li>
    {% else %}
      {{ '' }}
    {% endif %}
    {% if project.data.github %}
      <li aria-label="Open Github repo" data-cooltipz-dir="bottom-right">
        <a href="{{ projec.data.github | url }}" target="_blank" class="btn btn-sec portfolio-btn">
          <img src="/static/img/icons/github.svg" alt="Github link">
        </a>
      </li>
    {% else %}
      {{ '' }}
    {% endif %}
    </ul>

{% endfor %}