<div class="mobile-nav">
	<a href="/index.html" class="logo">
		<img src="/static/img/ik.jpg" alt="Steven Aelbrecht" class="profile-pic">
		<p>Steven<br>Aelbrecht</p>
	</a>

	<button aria-label="Burger 'Menu'" data-cooltipz-dir="bottom-right" class="burger-menu">
		<img src="/static/img/burger.svg" alt="It's a Burger Menu!" class="icon" id="burger">
	</button>
</div>

<nav id="nav-menu" class="off-canvas">
	<ul class="nav">
		<li class="m-bot-xl"><button aria-label="Close menu." data-cooltipz-dir="bottom"><img src="/static/img/burger-eaten.svg" alt="Yes, this closes the menu!" class="icon" id="eaten"></button></li>
		<li><a href="/index.html" class="nav--link active">Home</a></li>
		<li><a href="/about.html" class="nav--link">About me</a></li>
		<li><a href="/services.html" class="nav--link">Services</a></li>
		<li><a href="/portfolio.html" class="nav--link">Portfolio</a></li>
		<li><a href="/contact.html" class="nav--link"><span class="m-right-xs">☕</span> Contact</a></li>
	</ul>
</nav>

<button aria-label="Dark or light mode?" data-cooltipz-dir="bottom-right" class="mode-switch-span">
	<img src="/static/img/moon.svg" alt="Switch to light or dark mode" id="mode-switch" class="icon mode-switch">
</button>

<aside class="desktop-nav">
	<a href="/index.html" class="logo">
		<img src="/static/img/ik.jpg" alt="Steven Aelbrecht" class="profile-pic">
		<p>Steven<br>Aelbrecht</p>
	</a>

	<nav>
		<ul class="nav">
			<li><a href="/index.html" class="nav--link active">Home</a></li>
			<li><a href="/about.html" class="nav--link">About me</a></li>
			<li><a href="/services.html" class="nav--link">Services</a></li>
			<li><a href="/portfolio.html" class="nav--link">Portfolio</a></li>
			<li><a href="/contact.html" class="nav--link"><span class="m-right-xs">☕</span> Contact</a></li>
		</ul>
	</nav>
</aside>